<h1>About</h1>
<ul>
	<li>
		LifeBlocks
		<p>
			In a rapidly technologically developing world, people often forgo simple goals to keep pace.<br><br>

			LifeBlocks aims to help you achieve the most from your bucketlists through sorting.<br><br>

			Check out Club 3rd's stack, and feel free to add your own block!
		</p>
	</li>

	<li>
		Club 3rd
		<p>
			Reknown for it's Class and Prominent Residents, Club 3rd sits at 49 3rd Street, Floor 3. <br><br>

			We aim to lead the most fulfilling lifestyle of any RPI student, one Block at a time!
		</p>
	</li>
</ul>

