
<div id="middlecontainer">
	<div class="name">
		Tom Yang
	</div>
	<div class="clip-circle">
	</div >
	<div class="center">

	<div class= "resume">
	RPI Undergraduate Computer Systems Engineering 2015
	<br>
	yangl8@rpi.edu
	<br>
	<a href="http://tboneyang.github.io" class="static2nd">
		Blog
	</a>
	</div>
	<div>	
		<%= link_to(image_tag("twitter.jpg"), "https://twitter.com/TomLYang") %>

		<%= link_to(image_tag("facebook.jpg"), "https://www.facebook.com/thomas.l.yang") %>
	</div>
	</div>

</div>
