<h1>Contact Us!</h1>
<ul>
	<li>Tom Yang </li><br>
	<li>Alex Freska </li><br>
	<li>Arya Seghatoleslami </li><br>
	<li>*Albert Yu </li><br>
	<li>Baxter Doge </li>
</ul>
<p>
	*Club 3rd Membership Pending. Resident being Sketchy Nig.
</p>
