<br>
<div id="commentblock">
	<h3>
		<%= comment.commenter %>
	</h3>
	<p>
		<%= comment.body %>
		<br>
		<%= link_to 'Delete', [comment.block, comment], method: :delete, data: {confirm: 'You sure Bro?' } %>
	</p>
</div>
