/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	height: 100%;
}


#container {
	min-height: 100%;
	margin-bottom: -100px;
	position:relative;
}

#footer{
height: 100px;
position:relative;
word-spacing:50px;
}

.clearfooter {
	height: 100px;
	clear: both;
}


header {
	font-size:60px;
}

#theme {
	background: #cff;
	color: green;
	border: 5px solid green;
}

.center {
	text-align: center;
}


nav {
	font-size: 30px
}
	
h1 {
	border: 3px solid #ccc;
	padding: 10px;
	color: #333;
}
