// Place all the styles related to the blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#block {
	background-color: #dfd;
	width:450px;
	height:100px;
	color: white;
	border: 5px solid green;
	border-radius: 5px;
	font-size: 25px;
	padding: 10px;

}
#blockheader{
	font-size:20px;
}

#padded {
	padding:60px;
}

#extrapadded{
	padding:100px;
}

#reqs {
	font-size:20px;
}

#tag_cloud {
	font-size:25px;
	.s { font-size: 0.8em;}
	.m { font-size: 1.2em;}
	.l { font-size: 1.8em;}

}

