// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#commentblock {

	background-color: #cf9;
	width:600px;
	height:100px;
	color:black;
	border: 5px solid #333;
}
